*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
    font-family: Roboto;
    scroll-behavior: smooth;
}

.btn-xl{
    width: 192px;
    height: 67px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size:16px;
    color:#ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
    background-color: #27ad6c;
    transition:.5s;
}
.btn-xl:hover{
    opacity:0.9;
    box-shadow: none;
}
.heading{
    font-family: Roboto;
    font-weight:normal;
    font-size: 48px;
    color: #9b9b9b;
}
.container-showcase{
    width:100%;
    min-height:120vh;
    background:radial-gradient(rgba(7, 7, 6, 0.2),rgba(0,0,0,1)),url("../images/img-hero-image.jpg");
    /* background:radial-gradient(rgba(63, 104, 48, 0.2),rgba(0,0,0,1)),url("../images/img-hero-image.jpg"); */
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
}

.bg-header{
    width:100%;
    height:60px;
    position:absolute;
    top:51px;
    background:rgba(0,0,0,.1);
    display:grid;
    grid-template-columns:1fr 1fr 10%;
    align-items:center;
    justify-content: space-between;
}
.bg-header .logo{
    margin-left:60px;
}
.bg-header .logo img{
   
    width:121px;
    height:35px;
}
.bg-header .navbar{
    display:flex;
    margin-left:auto;
    margin-right:60px;
    align-items: center;
}
.bg-header .navbar .navlink{
    width:44px;
    margin-right:39px;
    font-size: 16px;
    opacity:0.7;
    color:#ffffff;
}
.bg-header .navbar .navlink:hover{
    color:#70c919;
}
.bg-header .navbar .search-box{
    display:flex;
    height:40px;
    width:170px;
    justify-content:left;
    align-items: center;
    background:rgb(77, 138, 53);
    border-radius: 40px;
    margin-left: 30px;
}
.bg-header .navbar .search-box .search{
    width:40px;
       height:40px;
       border-radius:50%;
       background-color:rgb(77, 138, 53);
        display:flex;
        align-items: center;
        justify-content: center;
        left:0;
        z-index: 2;
}.bg-header .search-box input[type=text]{
    width:100px;
    background:transparent;
    border:none;
    outline:none;
    font-size: 18px;
 }
.bg-header .navbar .active{
    color:#70c919;

}
.humberger{
    display:none;
}
/****** hero content***/
.hero-content{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
     position:absolute;
    top:315px;
   
}
.hero-content .hero-text{
    width: 922px;
    height: 96px;
    padding:0;
    margin:0;
    font-family: Roboto;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom:25px;
    
}
.hero-content .text{
    width: 624px;
    height: 84px;
    opacity: 0.7;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
 .hero-content .btn-xl{
    margin-top:39px;
} 

/**********banner*****/
.banner{
    padding:145px 0 0 0;
}
.banner .heading{
    width: 476px;
    height: 96px;
    margin:0 auto;
    text-align: center;
    color: #9b9b9b;
} 
.banner .skill{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    padding:36px 8%;
}
.banner .skill .content .title{
    margin-top:40px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #27ad6c;
}
.banner .skill .content .decription{
    padding:8px 40px;
    opacity: 0.78;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #4a4a4a;
  }

  /******** information section******/
 .news-and-blog{
     padding-top:120px;
 }
  .news-and-blog .container-info{
      width:100%;
      display:grid;
      grid-template-columns:48% 2% 48%;
      justify-content: center;
   } 
  .container-info .resources,
  .container-info .latest-frontend{
      padding-left:120px;
  }
  .container-info .resources .heading,
  .container-info .latest-frontend .heading{
    height: 63px;
    
  }
  .resources .resources-list li
  {
    display:flex;
    align-items:center;
    padding-bottom:27px;
    padding-top:32px;
  }
  
  
  /* .resources .resources-list hr,
  .latest-frontend  .blog-list hr{
    width: 75%;
    height: 1px;
    opacity: 0.2;
    background-color: #88c542;
  } */
  .resources .resources-list a{
   
    height: 21px;
    width:100%;
    font-family: Roboto;
    font-size: 16px;
    color: #27ad6c;
    margin-left:6px;
  }
  .resources .resources-list img{
      width:24px;
      height:24px;
  }
  .container-info .hr-line{
      width:1px;
      background:green;
      height:345px;
      margin-top:20px;
  }
/********* latest ****/

.latest-frontend  .blog-list li{
    padding-bottom:20px;
    padding-top:25px;
    
}
.latest-frontend  .blog-list a{
    height: 21px;
    width:100%;
    font-family: Roboto;
    font-size: 16px;
    color: #27ad6c;
    
}
.latest-frontend  .blog-list span{
    font-size:13px;
    opacity:.5;
    text-transform:uppercase;
    color: #9b9b9b;
} 


/******* divider*********/

.divider{
width:100%;
height:50px;
display:grid;
grid-template-columns:1fr 60px 1fr;
align-items:center;
justify-content:space-around;
padding-top:115px;

}
.divider img{
    width:50px;
    height:48px;
    margin:0 auto;
}

.hr-before,.hr-after{
    width:40%;
    height:1px;
    background:#88c542;
    margin-left: auto;
}

.hr-before{
    margin-right:24px;
}
.hr-after{
    margin-left:24px;
}

/*******Gallery*******/
.gallary{
    padding-top:135px;
}
.gallary .heading{
    width:100%;
    height: 96px;
    text-align: center;
    color: #9b9b9b;
    
}
.gallary span{
    width: 145px;
    height: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
    text-align: center;
    color: #9b9b9b;

}
.gallary .img-container{
    width:100%;
    padding-top:31px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.gallary .img-container img{
    width:100%;
    display:block;
    object-fit: contain;
}
/********* service *******/
 .service{
    width:100%;
    padding:60px 120px;
    background-color: #423633;
}
.service .heading{
  width:100%;
  font-family: Roboto;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  color:#ffffff;
  padding-top:80px;
  padding-bottom:28px;
}
.service .service-container{
    box-sizing: border-box;
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    padding:80px 0;
}
.service .service-container .content{
    width:100%;
    display:flex;
}
.service .service-container .content .img-box{
    width:60px;
    height:60px;
} 
.service .service-container .content .img-box img{
    display:block;
    width:50px;
    height:50px;
    object-fit: contain;
}
.service .service-container .content .text-content{
    padding:0 0 0 8px;
}
.service .service-container .content .text-content .title{
    width:100%;
    height: 26px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
}
.service .service-container .content .text-content .description{
  opacity: 0.5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
    padding:15px 60px 74px 0;
}
.service .btn-xl{
    margin:0 auto;
}
.divider-img{
    width:100%;
    display:flex;
    justify-content: center;
    padding-top: 93px;
}
.divider-img img{
    display:block;
    width:51px;
    height:48px;
    object-fit: contain;
    opacity:0.5;
}

/********footer******/
.footer{
    width:100%;
    height:70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 60px;
    background:#333333;
}
.copyright{
    width: 111px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.footer .foot-nav {
    width:217px;
    display:flex;
    justify-content:space-between;
}
.footer .foot-nav li .navlink{
    font-size: 14px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.footer .foot-nav li .navlink:hover{
    color:#70c919;
}





/**************
/* media quries  tablet
***************/
@media (max-width: 960px){
    .btn-xl{
        width: 150px;
        height: 50px;
    }
    .heading{
        font-family: Roboto;
        font-weight:normal;
        font-size: 40px;
        color: #9b9b9b;
    }
    .container-showcase{
        width:100%;
        min-height:100vh;
    }
    .bg-header{
        top:30px;
    }
    .hero-content{
        top:220px;
    }
    .hero-content .hero-text{
        width: 800px;
        font-size: 65px;
        padding:0;
        margin:0;
    }

    .banner .skill{
   
        justify-content: center;
        padding:36px 0;
        text-align: center;
    }
    .news-and-blog{
        padding:0 20px;
    }
    .container-info .resources,
  .container-info .latest-frontend{
      padding:0;
  }
  .container-info .resources .heading,
  .container-info .latest-frontend .heading{
    height: 63px;
    text-align: center;
  }
  .container-info .hr-line{
    margin-top:40px;
}
.service{
    width:100%;
    padding:60px 40px;
}

.service .service-container .content .text-content .description{
      padding:15px 20px 40px 0;
  }
} 

/**************
media quries  mobile
***************/
@media only screen and (max-width:400px){
   
     .container-showcase{
        width:100%;
        min-height:85vh;
    }
    .heading{
        font-size: 35px;
    }
    .bg-header{
        position:absolute;
        display:block;
        top:0;
        margin:0;
        padding:0;
        
     }
    .bg-header .navbar{
        display:block;
        margin:0;
        padding:0;
        position:absolute;
        top:0;
        left:-100%;
        width:100%;
        height:100vh;
        padding-top: 100px;
        padding-left:20px;
        background:#000;
        z-index:10;
        transition: 1s;
    }
    .bg-header #sidebar.open{
        left:0;
    }
    .bg-header .navbar li{
        padding:10px 30px;
        margin-bottom: 30px;
    }
    .bg-header .navbar li .navlink{
        padding:0;
        margin:0;
    }
   
    .bg-header .search-box{    
    position:absolute;
    top:60vh;
    left:-100%;
    z-index: 200;
    transition:1s;
    }
    .bg-header .search-box.adding{    
        left:50px;
    }

   
    .bg-header .logo{
        position: inherit;
        top:20px;
        left:20px;
        margin:0;
        z-index:50;
    }
    .bg-header .humburger{
        width:30px;
        position: absolute;
        top:30px;
        right:20px;
        z-index: 100;
        cursor: pointer;
    }
    .bg-header .humburger .line{
        height:2px;
        width:100%;
        background:green;
        margin-bottom: 4px;
    }
    .hero-content{
        top:140px;
    }
    .hero-content .hero-text{
        width: 100%;
        font-size: 40px;
        padding:0;
    }
    .hero-content .text{
        width: 100%;
        line-height:1.2;
        font-size: 18px;
        margin:20px 0;
        padding:0 20px;
    }
    .hero-content .btn-xl{
        margin-top:10px;
    }
   
    .banner .heading{
       padding:60px 0; 
       width:100%;
    } 
    .banner .skill .content{
        padding-bottom: 35px;
    }
    .banner .skill .content .title{
        margin-top:10px;
    }
    .banner .skill .content .description{
        padding:0 40px;
    }
    .banner .skill{
        grid-template-columns:1fr
    }

    .news-and-blog .container-info{
        grid-template-columns:1fr;
        justify-content: center;
        text-align: center;
     }
     .resources .resources-list li{
        padding:20px;
    }
     
     /* .resources .resources-list hr,
  .latest-frontend  .blog-list hr{
    width: 75%;
    height: 1px;
    opacity: 0.2;
    background-color: #88c542;
    margin:0 auto;
  } */
    .container-info .resources .heading,
    .container-info .latest-frontend .heading{
        height:auto;
    }
    .divider{
        padding:30px 0;
    }
     .container-info .hr-line{
       display:none;
    }

    .gallary .img-container{
        padding:50px;
        grid-template-columns:1fr;
    }
    .gallary .heading{
        height: auto;  
    }
    .service{
        padding:0;
    }
    .service .heading{
        font-size: 35px;
    }
    .service .service-container{
        padding:0 20px;
        grid-template-columns:1fr;
        margin:0 auto;
    }
    .service .service-container .content .text-content{
        padding-left:30px;
    }
    .service .service-container .content .text-content .title{ 
      margin-bottom: 20px;
    }
    .footer{
        padding:20px;
        height:auto;
    }
    .footer .foot-nav {
        width:50%;
    }
    .divider-img{
        padding-bottom: 30px;
    }
} 